.services-wrapper {
  padding: 60px 0;
  background: #ffffff;
}

.services-paper {
  padding: 32px;
}

.services-list {
  margin-top: 10px;
}

.service-item {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 1.5;
  padding-left: 10px;
  border-left: 3px solid #1976d2;
}
